<!-- banner1 -->
	<div class="banner3">
		<div class="container">
			<div class="banner1-info">
				<h3 style="background: rgba(255, 255, 255, 0.38);">It has survived not only five centuries, but also the leap 
					into electronic typesetting, remaining essentially unchanged. It was 
					popularised in the 1960s.</h3>
			</div>
		</div>
	</div>
<!-- //banner1 -->
<!-- conference -->
	<div class="conference">
		<div class="container">
			<h3>Media Conference</h3>
			<p class="nihil">Through media we are releasing voting results.</p>
			<div class="conference-grids">
				<div class="col-md-4 conference-grid">
					<div class="conference-grid-left">
						<h4>General <span>Campaign</span></h4>
					</div>
					<div class="conference-grid-right">
						<h5>01.</h5>
					</div>
					<div class="clearfix"> </div>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
					<div class="more">
						<a href="single.html" class="type-1">
							<span> More Info... </span>
							<span> More Info... </span>
						</a>
					</div>
				</div>
				<div class="col-md-4 conference-grid">
					<div class="conference-grid-left">
						<h4>Survey <span>Analysis</span></h4>
					</div>
					<div class="conference-grid-right">
						<h5>02.</h5>
					</div>
					<div class="clearfix"> </div>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
					<div class="more">
						<a href="single.html" class="type-1">
							<span> More Info... </span>
							<span> More Info... </span>
						</a>
					</div>
				</div>
				<div class="col-md-4 conference-grid">
					<div class="conference-grid-left">
						<h4>Vote & <span>Casting</span></h4>
					</div>
					<div class="conference-grid-right">
						<h5>03.</h5>
					</div>
					<div class="clearfix"> </div>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
					<div class="more">
						<a href="single.html" class="type-1">
							<span> More Info... </span>
							<span> More Info... </span>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- body_grids -->
	<div class="wlcome">
		<div class="container">
			<div class="wlcome-grids">
				<div class="col-md-7 wlcome-grid-left">
					<div class="gallery">
						<h3>Campaigning of their Parties !</h3>
						<p class="nihil">When a politician with good intentions disappear politics.</p>
						<div class="gallery-grids">
							<div class="col-md-5 gallery-grid">
								<ul class="demo-3">
									<li>
										<figure>
											<img src="lib/images/7.jpg" alt="" class="img-responsive" />
											<figcaption>
												<h2>This is a cool title!</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
											</figcaption>
										</figure>
									</li>
								</ul>
								<ul class="demo-3">
									<li>
										<figure>
											<img src="lib/images/9.jpg" alt="" class="img-responsive" />
											<figcaption>
												<h2>This is a cool title!</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
											</figcaption>
										</figure>
									</li>
								</ul>
							</div>
							<div class="col-md-7 gallery-grid">
								<ul class="demo-3 demo-3sub">
									<li>
										<figure>
											<img src="lib/images/8.jpg" alt="" class="img-responsive" />
											<figcaption class="sub">
												<h2>This is a cool title!</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,velit esse quam nihil molestiae consequatur, vel illum qui dolorem sed do eiusmod tempor incididunt ut labore</p>
											</figcaption>
										</figure>
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="services services1">
						<h2>Services For Our Country !</h2>
						<p class="nihil">When a politician with good intentions disappear politics.</p>
						<h5>Quis autem vel eum iure reprehenderit qui in ea voluptate 
							velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
							eum fugiat quo voluptas nulla pariatur.</h5>
						<div class="banner-bottom-video-grid-left">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
								  <h4 class="panel-title">
									<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche reprehenderit
									</a>
								  </h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								  <div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								  </div>
								</div>
							  </div>
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
								  <h4 class="panel-title">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
									</a>
								  </h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								   <div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								  </div>
								</div>
							  </div>
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
								  <h4 class="panel-title">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry richa quibusdam
									</a>
								  </h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								   <div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								  </div>
								</div>
							  </div>
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingFour">
								  <h4 class="panel-title">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche reprehenderit
									</a>
								  </h4>
								</div>
								<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								   <div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								  </div>
								</div>
							  </div>
							   <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingFive">
								  <h4 class="panel-title">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>voluptatum deleniti enim eiusmod high
									</a>
								  </h4>
								</div>
								<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
								   <div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								  </div>
								</div>
							  </div>
							   <!-- <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingSix">
								  <h4 class="panel-title">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem enim eiusmod high quibusdam
									</a>
								  </h4>
								</div>
								<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
								   <div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								  </div>
								</div>
							  </div> -->
							 <!--  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingSeven">
								  <h4 class="panel-title">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi accusamus terry richardson
									</a>
								  </h4>
								</div>
								<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
								   <div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								  </div>
								</div>
							  </div>
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingEight">
								  <h4 class="panel-title">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi cupidatat skateboard sint
									</a>
								  </h4>
								</div>
								<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
								   <div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								  </div>
								</div>
							  </div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 wlcome-grid-right">
					<div class="sap_tabs">	
						<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
							  <ul class="resp-tabs-list">
								  <li class="resp-tab-item grid1 resp-tab-active" aria-controls="tab_item-0" role="tab"><span>2014 Nominees</span></li>
								  <li class="resp-tab-item grid2" aria-controls="tab_item-1" role="tab"><span>2015 Nominees</span></li>
								  <div class="clear"></div>
							  </ul>				  	 
								<div class="resp-tabs-container">
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
										  <div class="tab_list">
											<img src="lib/images/1.jpg" alt=" " class="img-responsive">
										  </div>
										  <div class="tab_list1">
											<a href="#">excepturi sint occaecati</a>
											<p>October 3,2015 <span>Nam libero tempore, cum soluta nobis.</span></p>
										  </div>
										  <div class="clearfix"> </div>
										</div>
										<div class="facts">
										   <div class="tab_list">
												<img src="lib/images/2.jpg" alt=" " class="img-responsive">
										  </div>
										  <div class="tab_list1">
											<a href="#">excepturi sint occaecati</a>
											<p>October 9,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
										  </div>
										  <div class="clearfix"> </div>
										</div>
										<div class="facts">
										   <div class="tab_list">
												<img src="lib/images/3.jpg" alt=" " class="img-responsive">
										  </div>
										  <div class="tab_list1">
											<a href="#">excepturi sint occaecati</a>
											<p>October 15,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
										  </div>
										  <div class="clearfix"> </div>
										</div>
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
										  <div class="tab_list">
												<img src="lib/images/4.jpg" alt=" " class="img-responsive">
										  </div>
										  <div class="tab_list1">
											<a href="#">excepturi sint occaecati</a>
											<p>October 23,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
										  </div>
										  <div class="clearfix"> </div>
										</div>
										<div class="facts">
										   <div class="tab_list">
												<img src="lib/images/1.jpg" alt=" " class="img-responsive">
										  </div>
										  <div class="tab_list1">
											<a href="#">excepturi sint occaecati</a>
											<p>October 28,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
										  </div>
										  <div class="clearfix"> </div>
										</div>
										<div class="facts">
										   <div class="tab_list">
												<img src="lib/images/2.jpg" alt=" " class="img-responsive">
										  </div>
										  <div class="tab_list1">
											<a href="#">excepturi sint occaecati</a>
											<p>October 31,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
										  </div>
										  <div class="clearfix"> </div>
										</div>
									</div>
								</div>
							 <script src="lib/js/easyResponsiveTabs.js" type="text/javascript"></script>
								<script type="text/javascript">
									$(document).ready(function () {
										$('#horizontalTab').easyResponsiveTabs({
											type: 'default', //Types: default, vertical, accordion           
											width: 'auto', //auto or any width like 600px
											fit: true   // 100% fit in a container
										});
									});
								   </script>
						</div>
					</div>
					<div class="video">
						<h4>Election Video</h4>
						<iframe src="https://player.vimeo.com/video/61220793?color=ffffff&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<!-- <div class="upcoming">
						<h4>Upcoming Events</h4>
						<ul>
							<li><a href="#">Duis aute irure dolor in reprehenderit.</a><span>December 15, 2015</span></li>
							<li><a href="#">Praesent vitae eros eget.</a><span>December 20, 2015</span></li>
							<li><a href="#">rutrum sed sem quis venenatis.</a><span>December 25, 2015</span></li>
							<li><a href="#">eros eget tellus tristique bibendum.</a><span>December 28, 2015</span></li>
							<li><a href="#">excepturi sint occaecati.</a><span>January 3, 2016</span></li>
						</ul>
					</div> -->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //conference -->
<!-- footer-top -->

	<div class="banner-bottom">
		<div class="container">
			<div class="wmuSlider example1">
				<div class="wmuSliderWrapper">
					<!-- <article style="position: absolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="about-grids">
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/p1.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">James Cameron</a></h3>
												<span>Manager.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/p3.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Laura Williums</a></h3>
												<span>Joint Secretary.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/p2.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Michael Andrew</a></h3>
												<span>Secretary.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</article>
					<article style="position: absolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="about-grids">
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/1.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">James Cameron</a></h3>
												<span>Manager.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/3.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Adom Smith</a></h3>
												<span>Joint Secretary.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/4.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Michael Andrew</a></h3>
												<span>Secretary.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</article> -->

					<article style="position: absolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="about-grids">
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="lib/images/p1.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Vijaykumar Gawade</a></h3>
												<span>President.</span>
												<!--<p> It was popularised in the 1960s with the release of Letraset sheets.</p>-->
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="lib/images/p3.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Archna Mohite</a></h3>
												<span>Vice President.</span>
												<!--<p> It was popularised in the 1960s with the release of Letraset sheets.</p>-->
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="lib/images/p2.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Suhasini Gavade</a></h3>
												<span>Secretary.</span>
												<!--<p> It was popularised in the 1960s with the release of Letraset sheets.</p>-->
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</article>
					<article style="position: absolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="about-grids">
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="lib/images/1.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Anand Savant </a></h3>
												<span>Manager.</span>
												<!--<p> It was popularised in the 1960s with the release of Letraset sheets.</p>-->
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="lib/images/3.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Raju Gayakwad</a></h3>
												<span>Joint Secretary.</span>
												<!--<p> It was popularised in the 1960s with the release of Letraset sheets.</p>-->
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="lib/images/4.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Nikhil Savant</a></h3>
												<span>Secretary.</span>
												<!--<p> It was popularised in the 1960s with the release of Letraset sheets.</p>-->
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</article>
					<!-- <article style="position: absolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="about-grids">
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/5.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">James Cameron</a></h3>
												<span>Manager.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/p3.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Laura Williums</a></h3>
												<span>Joint Secretary.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-4 about-grid">
									<div class="about-grid1">
										<figure class="thumb">
											<img src="images/2.jpg" alt=" " class="img-responsive" />
											<figcaption class="caption">
												<h3><a href="#">Michael Andrew</a></h3>
												<span>Secretary.</span>
												<p> It was popularised in the 1960s with the release of Letraset sheets.</p>
												<ul>
													<li><a href="#" class="f1"></a></li>
													<li><a href="#" class="f2"></a></li>
													<li><a href="#" class="f3"></a></li>
												</ul>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</article> -->
				</div>
			</div>
				<script src="lib/js/jquery.wmuSlider.js"></script> 
					<script>
						$('.example1').wmuSlider();         
					</script> 
		</div>
	</div>