<!-- banner1 -->
	<div class="banner4">
		<div class="container">
			<div class="banner1-info">
				<h3 style="background: rgba(255, 255, 255, 0.38);">It has survived not only five centuries, but also the leap 
					into electronic typesetting, remaining essentially unchanged. It was 
					popularised in the 1960s.</h3>
			</div>
		</div>
	</div>
<!-- //banner1 -->
<!--typography-page -->
	
			
<!-- //typography-page -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-xs-12 col-sm-12 contact" style="margin: 30px 0 0px 0;;">
						<h3>Gallery</h3>
							<!-- <h1 style="border-bottom: 2px solid #161515;width: 90px;">Gallery</h1> -->
						</div>
						<div class="lightBoxGallery footer-grids" style="margin: 30px 0 15px 0px;    text-align: center;">
                            <a href="lib/images/gallery_img_big/pic1.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic1.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic8.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic2.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic3.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic3.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic4.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic4.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic5.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic5.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic6.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic6.png" style="margin: 0 16px 16px 0;"></a>

                            <a href="lib/images/gallery_img_big/pic7.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic7.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic19.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic20.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic9.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic9.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic10.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic10.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic11.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic11.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic12.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic12.png" style="margin: 0 16px 16px 0;"></a>

                            <a href="lib/images/gallery_img_big/pic13.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic13.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic14.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic14.png" style="margin: 0 16px 16px 0;"></a>
                            <a href="lib/images/gallery_img_big/pic15.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/pic15.png" style="margin: 0 16px 16px 0;"></a>
                           <!-- <a href="images/5.jpg" title="Image from Unsplash" data-gallery=""><img src="images/5.jpg"></a> -->
                            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                            <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                <div class="slides" style="width: 98352px;"></div>
                                <h3 class="title">Image from Unsplash</h3>
                                <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>

                        </div>
					</div>
				</div>
			</section>
						

<!-- //footer-top -->