<!-- banner1 -->
	<div class="banner2">
		<div class="container">
			<div class="banner1-info">
				<h3 style="background: rgba(255, 255, 255, 0.38);">It has survived not only five centuries, but also the leap 
					into electronic typesetting, remaining essentially unchanged. It was 
					popularised in the 1960s.</h3>
			</div>
		</div>
	</div>
<!-- //banner1 -->
<!--typography-page -->
	
			
<!-- //typography-page -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-xs-12 col-sm-12 contact" style="margin: 30px 0 0px 0;;">
						<h3>Services</h3>
							<!-- <h1 style="border-bottom: 2px solid #161515;width: 90px;">Gallery</h1> -->
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding:0px;">
                                <a href="lib/images/gallery_img_small/self-05.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/self-05.jpg" style="width: 100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 style="margin-bottom: 16px;color: #ff7700;"><b>Cow Protection</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here.</p>
                            </div>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-8">
                                <h3  style="text-align: right;margin-bottom: 16px; color: #ff7700;"><b>Addiction liberation</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here, content here making it look like readable English. </p>
                            </div>
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0px;">
                                <a href="lib/images/gallery_img_small/images.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/images.jpg" style="width: 100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                       <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/medicine.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/medicine.jpg" style="width: 100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 style="margin-bottom: 16px;color: #ff7700;"><b>Preparing Cancer Meddicine from cow urine</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here.</p>
                            </div>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-8">
                                <h3  style="text-align: right; margin-bottom: 16px;color: #ff7700;"><b>Student Education(10-15)</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here, content here making it look like readable English. </p>
                            </div>
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/student.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/student.jpg" style="width: 100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/computer.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/computer.jpg" style="width: 100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 style="margin-bottom: 16px;color: #ff7700;"><b>Computer distribution for needy students in school</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here.</p>
                            </div>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                         <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-8">
                                <h3  style="text-align: right; margin-bottom: 16px;color: #ff7700;"><b>Classes</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here, content here making it look like readable English. </p>
                            </div>
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/classes.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/classes.jpg" style="width:100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/childFood.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/childFood.jpg" style="margin: 0 16px 16px 0;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 style="margin-bottom: 16px;color: #ff7700;"><b>Special child(Food, Medicine, Sports)</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here.</p>
                            </div>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-8">
                                <h3  style="text-align: right;margin-bottom: 16px; color: #ff7700;"><b>Tree Plantation</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here, content here making it look like readable English. </p>
                            </div>
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/6699_plant.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/6699_plant.jpg" style="margin: 0 16px 16px 0;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/download.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/download.jpg" style="margin: 0 16px 16px 0;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 style="margin-bottom: 16px;color: #ff7700;"><b>Reinvestment for Medication</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here.</p>
                            </div>
                            
                        </div>  
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-8">
                                <h3  style="text-align: right;color: #ff7700;"><b>Labour Justice</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here, content here making it look like readable English. </p>
                            </div>
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/Blair_1.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/Blair_1.jpg" style="width: 100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/PUNARVASU-WARANGAL-02.05.17-263x177.jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/PUNARVASU-WARANGAL-02.05.17-263x177.jpg" style="width: 100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 style="color: #ff7700;"><b>Poor Punarvyasen</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here.</p>
                            </div>
                            
                        </div>  
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 0px;">
                            <hr class="divider dev-style1">
                        </div>
                         <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 24px;">
                            <div class="col-md-8">
                                <h3  style="text-align: right;margin-bottom: 16px; color: #ff7700;"><b>Leg Artificial</b></h3>
                                <p style="text-align: justify;">

                                    There are many variations of passages of Lorem Ipsum available, injected generators on the embarrassing hidden in the middle all the dictionary of randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using Content here, content here making it look like readable English. </p>
                            </div>
                            <div class="col-md-4 lightBoxGallery footer-grids" style="padding: 0;">
                                <a href="lib/images/gallery_img_small/download (1).jpg" title="Image from Unsplash" data-gallery=""><img src="lib/images/gallery_img_small/download (1).jpg" style="width: 100%;"></a>
                                <!--<img src="../lib/images/p3.jpg">-->
                                <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                    <div class="slides" style="width: 98352px;"></div>
                                    <h3 class="title">Image from Unsplash</h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>  
					</div>
				</div>
			</section>
						

<!-- //footer-top -->